[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
attrs = "*"
lark = "*"
traceback-with-variables = "*"
anyascii = "*"
mudtelnet = "*"
sentry-sdk = "*"

[dev-packages]
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.11"

[scripts]
cli = "python cli.py"
pycat = "python pycat.py"
